
<h1 *ngIf="title">{{ title }}!</h1>

<ng-container *ngIf="selectedProject; else projectList">
  <button *ngIf="selectedProject" (click)="selectedProject = null">Show all projects</button>

  <h2>{{ selectedProject.title }}</h2>
  <p>{{ selectedProject.body }}</p>
  <p>Published on {{ selectedProject.published_date }}</p>
  <p>Category: {{ selectedProject.category?.name }}</p>

  <ng-container *ngIf="selectedProject.tags">
    <p>Tags: <span *ngFor="let tag of selectedProject.tags">{{ tag.name }}, </span></p>
  </ng-container>
</ng-container>

<ng-template #projectList>
  <div *ngFor="let project of projects" (click)="handleProjectClick(project)">
    <div *ngIf="!categoryFilter || categoryFilter.id == project.category?.id">
      <div *ngIf="!tagFilter || project.tags?.includes(tagFilter)">
      <h2>{{ project.title }}</h2>
      <p>{{ project.excerpt }}</p>
      <p>Category: {{ project.category?.name }}</p>

      <ng-container *ngIf="project.tags">
        <p>Tags: <span *ngFor="let tag of project.tags">{{ tag.name }}</span></p>
      </ng-container>
  </div>
</div>
  </div>
</ng-template>


<div [ngClass]="'side-menu'">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between">
      <h3>Categories</h3>
      <button (click)="clearFilters()">Show all</button>
    </div>
    <div *ngFor="let category of categories" (click)="handleCategoryFilter(category)">
      <p>{{ category.name }}</p>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row justify-between">
      <h3>Tags</h3>
      <button (click)="clearFilters()">Show all</button>
    </div>
    <div *ngFor="let tag of tags" (click)="handleTagFilter(tag)">
      <p>{{ tag.name }}</p>
    </div>
  </div>
</div>



<footer>
  <p>&copy; Copyright Haley Dawe 2021</p>
</footer>

