<ng-container *ngIf="!selectedProject">
<article
  *ngFor="let project of projects | projectFilter : tagFilter"
  [class.hidden]="categoryFilter && project.category?.id != categoryFilter.id"
>
  <section>
    <h2>{{ project.title | uppercase }}</h2>
    <div>{{ project.excerpt }}</div>
  </section>
  <footer>
    <div *ngIf="project.category" (click)="setCategoryFilter(project.category)">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags?.length">
      Tags:
      <span *ngFor="let tag of project.tags" (click)="setTagFilter(tag)">
        {{ tag.name }}
      </span>
    </div>
  </footer>
</article>
</ng-container>
<section *ngIf="selectedProject">
  <div (click)="clearSelectedProject()">Back</div>
  <app-project-detail [project]="selectedProject"></app-project-detail>
</section>
